@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {

  .button {
    @apply absolute bottom-[10px] right-[10px] border-[1px] border-white text-[2px] text-white py-2 px-5 text-center no-underline inline-block text-base rounded-md;
  }

  .quote {
    @apply absolute top-[20px] text-white right-[10px] left-[10px] text-center max-w-[400px] text-[25px] leading-[40px] px-10;
  }


}

body {

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/prayinggirl2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}